<a  routerLink="/product/{{Product?.id}}">
    <div class="col hp">
        <div class="card h-100 shadow-sm">
                <img src="https://m.media-amazon.com/images/I/81gK08T6tYL._AC_SL1500_.jpg" class="card-img-top"
                    alt="product.title" />
            <div class="label-top shadow-sm">
                <a id="product-company">{{Product?.brand}}</a>
            </div>
            <div class="card-body">
                <div class="clearfix mb-3">
                    <span class="float-start badge rounded-pill bg-success">{{Product?.price | currency:'INR'}}</span>
                    <span class="float-end small text-muted text-uppercase">discount here</span>
                </div>
                <h3 class="card-title">
                   {{Product?.name}}
                </h3>
                <p class="card-title">
                    {{Product?.description}}
                </p>
                <div class="d-grid gap-2 my-4">
                    <a href="" class="btn btn-warning bold-btn">add to cart</a>
                </div>
                <div class="clearfix mb-1">
                    <span class="float-end">
                        <i class="far fa-heart" style="cursor: pointer"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</a>
