<div class="card custom-style">
    <div class="alert alert-success" id="success-alert" role="alert" style="display: none;">
    </div>
    <div class="alert alert-danger" role="alert" id="danger-alert" style="display: none;">
    </div>
    <div class="card-body">
      <h1 class="card-title">Change Password</h1>
      <form [formGroup]="ChangePasswordForm" autocomplete="off" novalidate (ngSubmit)="chanagePassword(ChangePasswordForm.value)">
        <div class="mb-3 row">
          <label for="username" class="col-form-label col-sm-2">current Password:</label>
          <div class="col-md-5">
            <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['currentPassword'].errors }" />
            <div *ngIf="submitted && f['currentPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['currentPassword'].errors['required']">current Password is required</div>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="password" class="col-form-label col-sm-2">new Password:</label>
          <div class="col-md-5">
            <input type="password" id="newPassword" formControlName="newPassword" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }" />
            <div *ngIf="submitted && f['newPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['newPassword'].errors['required']">new Password is required</div>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
            <label for="password" class="col-form-label col-sm-2">confirm Password:</label>
            <div class="col-md-5">
              <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
              <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">
                    Confirm Password is required
                  </div>
                  <div *ngIf="f['confirmPassword'].errors['matching']">
                    Confirm Password does not match
                  </div>
              </div>
            </div>
          </div>
        <br>
        <div class="mb-3 row">
          <div class="col-md-1">
            <button type="submit" class="btn btn-success float-right">Submit</button>
          </div>
          <div class="col-md-1">
            <button type="button" (click)="onReset()" class="btn btn-warning float-right">
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  