<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">Product</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-slider" style="margin-top: 60px;">
                    <div class="carousel slide" data-ride="carousel" id="single-product-slider">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="img-fluid" [src]="createImgPath(ProductDetails!.imageUrl!)"
                                    class="card-img-top" alt="product picture">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7" style="margin-top:2%;">
                <div class="single-product-details mt-5 mt-lg-0">
                    <h2>{{ProductDetails.name}}</h2>
                    <hr>
                    <h6 class="product-price"><del>{{(DiscountDetails.value+ProductDetails.price)| currency:
                            'INR'}}</del></h6>

                    <h3 class="product-price">{{ProductDetails.price | currency: 'INR' }} </h3>
                    <h5>{{DiscountDetails.value| currency: 'INR'}} OFF</h5>
                    <p class="product-description my-4 ">
                        {{ProductDetails.description}}
                    </p>

                    <div class="products-meta mt-4">
                        <div class="product-category d-flex align-items-center">
                            <span class="font-weight-bold text-capitalize product-meta-title">brand :</span>
                            {{ProductDetails.brand}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="isValidProductOwner==true">
    <div class="container mt-5">
        <a class="btn btn-secondary mr-3" routerLink="../addEdit/{{ProductDetails?.id}}">Edit Product</a>
        <button type="button" class="btn btn-danger" (click)="onDeleteProduct(ProductDetails!.id)">delete</button>
    </div>
</div>